# Kopieer dit bestand naar .env en vul de waarden in
# .env wordt nooit naar de repo gepusht

SNOWFLAKE_ACCOUNT=OBWBPOY-HY26045
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=
