# Snowflake configuratie
# Kopieer dit bestand naar .env en vul de waarden in
# Het .env bestand wordt NOOIT gecommit naar git

SNOWFLAKE_ACCOUNT=<jouw-account-identifier>
SNOWFLAKE_USER=<jouw-gebruikersnaam>
SNOWFLAKE_PASSWORD=<jouw-wachtwoord>
SNOWFLAKE_ROLE=CRIME_DASHBOARD_ROLE
SNOWFLAKE_WAREHOUSE=CRIME_DASHBOARD_WH
SNOWFLAKE_DATABASE=CRIME_DASHBOARD_DB
SNOWFLAKE_SCHEMA=RAW
