# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ruwe data (te groot voor git)
data/raw/
data/processed/

# Power BI temp bestanden
*.tmp

# Snowflake & omgevingsvariabelen (NOOIT in repo!)
.env
*.env

# dbt configuratie met credentials
dbt/profiles.yml

# dbt logs en target
dbt/logs/
dbt/target/
logs/

# IDE bestanden
.idea/
.vscode/
*.iml

# OS bestanden
.DS_Store
Thumbs.db
